{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <form action="/courses/" method ="GET">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ user.username }} - Courses</legend>
                <a class="btn btn-info btn-lg" href="/addcourse/" role="button">Add Course</a>
            </fieldset>
            <div class="row justify-content-center">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                      <th>#</th>
                      <th>Course</th>
                        <th>Instructor</th>
                        <th>Lab sections</th>
                        <th>TAs</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i, j, a in courses %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.name }}</td>
                          <td> {{ i.instr_id }}</td>
                      <td>
                          {% for k in j %}
                            {{ k }}
                          {% endfor %}
                      </td>
                      <td>
                          {% for k in a %}
                              {{ k }}
                              {% endfor %}
                      </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </form>
    </div>
{% endblock content %}