{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form action="/dashboard/" method = "POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ user.username }} - Dashboard</legend>
            </fieldset>
            <div class="card-deck card-columns">

                    <a class="card card-block stretched-link text-dark shadow bg-light rounded" href="/profile/">
                  <div class="card-body">
                    <h4 class="card-title">Edit Profile</h4>
                    <p class="card-text">
                      Change your first and last name, email, phone, or office hours.
                    </p>
                  </div>
                    </a>

                    <a class="card card-block stretched-link text-dark shadow bg-light rounded" href="/courses/">
                  <div class="card-body">
                    <h4 class="card-title">Courses</h4>
                    <p class="card-text">
                      Change the courses associated with users.
                    </p>
                  </div>
                    </a>


                <a class="card card-block stretched-link text-dark shadow bg-light rounded" href="/labs/">
                  <div class="card-body">
                    <h4 class="card-title">Lab</h4>
                    <p class="card-text">
                      View and edit lab assignments
                    </p>
                  </div>
                </a>
                </div>


            <div class="card-deck card-columns">
                <a class="card card-block stretched-link text-dark shadow bg-light rounded" href="#">
                  <div class="card-body">
                    <h4 class="card-title">Assignments</h4>
                    <p class="card-text">
                      View course and lab assignments
                    </p>
                  </div>
                </a>


                <a class="card card-block stretched-link text-dark shadow bg-light rounded" href="/publicinformation/">
                  <div class="card-body">
                    <h4 class="card-title">Public info</h4>
                    <p class="card-text">
                      View user's public information
                    </p>
                  </div>
                </a>

                {% if user.personalinfo.role == '1' %}
                    <a class="card card-block stretched-link text-dark shadow bg-light rounded" href="/CreateAcc/">
                        <div class="card-body">
                            <h4 class="card-title">Create Account</h4>
                            <p class="card-text">
                                Create an account for a new user
                            </p>
                        </div>
                    </a>

                {% elif user.personalinfo.role == '3' %}
                    <a class="card card-block stretched-link text-dark shadow bg-light rounded" href="#">
                        <div class="card-body">
                            <h4 class="card-title">My skills</h4>
                            <p class="card-text">
                                Enter or view your skills that instructors will be able to view
                            </p>
                        </div>
                    </a>
                {% endif %}

            </div>

{#            <div class="form-group">#}
{#                <button class="btn btn-outline-info" type="submit">Edit Profile</button>#}
{#                <button class="btn btn-outline-info" type="submit">Edit Courses</button>#}
{#                <button class="btn btn-outline-info" type="submit">Notifications</button>#}
{#                <button class="btn btn-outline-info" type="submit">View Assignments</button>#}
{#                <button class="btn btn-outline-info" type="submit">Search Public Info</button>#}
{#            </div>#}
        </form>
    </div>
{% endblock content %}