{% extends "base.html" %}
{% block content %}
  <div class="content-section">
        <form action="/" method = "GET">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Welcome to our homepage</legend>
            </fieldset>
            <div class="form-group">
{#                <button class="btn btn-outline-info" type="submit">Login</button>#}
                <a class="btn btn-outline-info" role="button" href="/login">Login</a>
            </div>
        </form>
    </div>
{% endblock content %}