{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="content-section">
        <form method = "GET">
            {% csrf_token %}
            <legend class="border-bottom mb-4">Public Info</legend>
            <fieldset class="form-group"> {# text-center ?#}
            <h4>Roles: (Admin = 1, Instructor = 2, TA = 3)</h4>
                <div class="row justify-content-center">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                      <th>Username</th>
                      <th>Role</th>
                      <th>Phone</th>
                      <th>Address</th>
                      <th>Office hours</th>
                      <th>Skills</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for i in usr_list %}
                      <tr>
                        <td>{{ i.user.username }}</td>
                          <td> {{ i.role }}</td>
                          <td> {{ i.phone }}</td>
                        <td> {{ i.address }}</td>
                        <td> {{ i.office_hours }}</td>
                        <td> {{ i.skills }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}